body {
	color: white;
	font-family: 'PT Sans', Arial, Helvetica, Sans-serif;
	text-transform: uppercase;
	background-repeat: no-repeat;
	background-size: cover;
	width: 900px;
	margin-right: auto;
	margin-left: auto;

}


.header-wrapper {
	height: 100%;
	width: 100%;
}

.nav1 {
float: left;
}


.nav1 > ul > li {
	display: inline-block;
	margin-right: 0px;
	background-color: none;
	padding: 1px;
	width: 80px;
	text-align: center;
}

h1 {
	float: left;
	clear: both;
	margin-left: 50px;
}

.searchBar {
	float: right;
	margin-top: 15px;
	margin-right: 150px;
	background-color: grey;
	padding: 10px;
	border: 1px solid white;
	width: 250px;
	border-radius: 5px;
	color: white;
}


main {
	background-color: rgba(0, 0, 0, 0.7);
	width: 90%;
	margin: 20px auto;
	padding: 20px;
	clear: both;
	position: relative;

}


main > .nav2bar > .nav2 > ul > li {
	display: inline-block;
	margin-right: 0px;
	background-color: none;
	padding: 3px;
	width: 120px;
	text-align: center;
	position: relative;
}

.nav2bar {
	background-color: #D7263D;
	width: 100%;
	border-radius: 10px;
	background: url(http://2.bp.blogspot.com/-KddVGdrXhss/Vtj51xZb9wI/AAAAAAAADc8/DBJh41rva3c/s000/menu-secondary-bg.png);
	height: 40px;
	margin-bottom: 10px;
	position: relative;
}



a {
	color: white;
	text-decoration: none;
	font-size: x-small;
}

img[alt*="gif"] {
	width: 70%;
	border-radius: 5px;
}

h3 {
	font-size: smaller;
	margin-left: 30px;
}

small {
	font-size: smaller;
	margin-left: 30px;

}

p {
	text-transform: lowercase;
	margin-left: 30px;
	font-size: smaller;
	text-align: justify;
	margin-left: 5px;
}


.gallery {
	border-radius: 5px;
	background-color: #253031;
	border: 3px solid black;
	width: 70%;
	margin-top: 10px;
	height: 100%;
}


#asideBody {
	float: right;
	position: relative;
	top: -1780px;
	left: -40px;
	height: 400px;
	width: 230px;
	background-color: 5px solid blue;

}

img[alt*="gallery1"]{
	width: 90%;
	height: 280px;
	margin-left: 30px;
	margin-top: 10px;
}




.searchBar2 {
	background-color: grey;
	padding: 10px;
	border: 1px solid white;
	width: 200px;
	border-radius: 5px;
	color: white;
}

.galleryBar {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid #4B5258;
    background: #3A4144;
    padding: 10px;
    width: 80%;
    font-size: small;
    height: 100%;
}

.galleryTitle {
	float: left;
	padding: 0;
}


img[alt*='gtr'] {
	width: 200px;
	height: 140px;
	float: left;
	clear: both;
	margin: 10px 20px;
}

.post-title {
    color: #DDE7F1;
    margin: 0 0 10px 0;
    padding: 0;
    font-family: 'Oswald',sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: normal;
}

.underTitle {
    color: #999;
    font-size: 8px;
    line-height: 18px;
    padding: 0 0 5px;
    margin-left: 20px;
}

.thumbImg {
    float: left;
    margin: 0px 10px 5px 0px;
    padding: 6px !important;
    border: 1px solid #4B5258;
    background: #222;
    width: 200px;
    height: 300px;
}


.sidebar .widget {
    margin: 0 0 15px 0;
    padding: 0;
    color: #8F989C;
    font-size: 13px;
}

.sidebar ul li {
    background: url(http://2.bp.blogspot.com/-CLnaHmBAQ80/Vtj501siv7I/AAAAAAAADcs/WMvuB1ikTRg/s000/widget-list.png) left 4px no-repeat;
    border-bottom: 1px dotted #46535A;
    margin: 0 0 8px;
    padding: 0 0 9px 12px;
}


.sidebar h2, h3.widgettitle {
    border-bottom: 2px solid #D2321B;
    color: #FFF;
    font-size: 16px;
    line-height: 16px;
    font-family: Oswald, sans-serif;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 10px;
    padding: 10px 0 6px;
}

footer {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
    background: #393E41;
    border-top: 1px solid #3E494D;
    height: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 70%;
    text-align: center;
    font-size: smaller;
}

.postTitle a:hover {
	color: black;
	background-color: rgba(26, 255, 163, 0.5);
	padding: 5px;
}

.postTitle a:link {
	color: yellow;
}

.postTitle a:visited {
	color: yellow;
}

.postTitle a:active {
	color: blue;
	background-color: green;
	padding: 5px;
}

.postTitle a:focus {
	background-color: violet;
	color: rgba(0, 0, 0, 0.5);
	padding: 5px;
}



.hover1 a:hover {
	color: black;
	background-color: rgba(26, 255, 163, 0.5);
	padding: 5px;
}

.hover1 a:link {
	color: yellow;
}

.hover1 a:visited {
	color: white;
}

.hover1 a:active {
	color: blue;
	background-color: green;
	padding: 5px;
}

.hover1 a:focus {
	background-color: violet;
	color: rgba(0, 0, 0, 0.5);
	padding: 5px;
}

.hover2 a:hover {
	color: green;
}